################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Library/.vs/Library/v15/Server/sqlite3
